.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



body {
  background-color: rgba(0, 0, 0, 0.94);
  color: white;
  margin-left: 500px;
  margin-right: 500px;
}

.bar {
  outline: none;
  border-radius: 40px;
  padding: 25px;
  border: none;
  padding-left: 34px;
  position: relative;
  top: 600px;
  /*overflow-y: auto;*/
  text-align: start;
  font-size: 17px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-right: 160px;
  width: 500px;
}

@media(max-width:747px) {
  .bar {
    padding: 20px;
    width: 320px;
    top: 600px;
    padding-right: 120px;

  }
}


.limit {
  position: relative;
  top: 730px;
  left: 253px;
  color: rgba(255, 255, 255, 0.366);
  top: 645px;
}

@media(max-width:747px) {
  .limit {
    left: 95px;
    position: relative;
    top: 645px;
  }
}


.limite {
  position: relative;
  top: 695px;
  left: 290px;
  color: rgba(255, 255, 255, 0.366);
  top: 610px;
}

@media(max-width:747px) {
  .limite {
    left: 130px;
    top: 610px;
  }
}




.send {
  display: inline-block;
  border-radius: 20px;
  position: relative;
  border: none;
  background-color: rgb(40, 101, 101);
  cursor: pointer;
  color: white;
  bottom: -613px;
  left: 300px;
  padding: 15px;
  top: 542px;
  transition: 1s;
}

@media(max-width:747px) {
  .send {
    left: 175px;
    top: 553px;
    padding: 10px;
  }
}

.send:hover {
  background-color: green;
}

.messages {
  background-color: rgba(255, 255, 255, 0.132);
  justify-content: start;
  border-radius: 14px;
  padding: 11px;
  text-align: start;
  border: none;
  position: relative;
  margin-bottom: 3px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 50px;
  width: auto;
  max-width: 45%;
  word-wrap: break-word;

}

@media(max-width:747px) {
  .messages {

    margin-right: 230px;
    font-size: 13px;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;

  }
}

.textbox {
  position: relative;
  top: -150px;
  text-align: start;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  scrollbar-color: #4788;
  border-bottom: 1px grey solid;
  padding-bottom: 20px;
  border-top: 1px grey solid;
  overflow-x: none;

}

@media (max-width:747px) {
  .textbox {
    top: -120px;
    overflow-x: auto;
    width: auto;

  }
}


.textbox::-webkit-scrollbar-thumb {
  background-color: rgb(40, 101, 101);
  border-radius: 40px;
}

.textbox::-webkit-scrollbar {
  background-color: black;
  width: 10px;
  border-radius: 40px;
}

.delete {
  border: none;
  background-color: rgb(40, 101, 101);
  cursor: pointer;
  color: white;
  border-radius: 40px;
  padding: 5px;
  position: relative;
  width: 130px;
  justify-content: center;
  position: relative;
  top: -136px;
  transition: 1s;
}

@media(max-width:747px) {
  .delete {
    top: -90px;
  }
}

.delete:hover {
  background-color: rgb(92, 24, 19);
}


.registerBox {
  position: relative;
  top: 80px;
  left: 350px;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  transition: 1s;

}

.text:hover {
  background-color: rgb(48, 219, 219);
}

.texto:hover {
  background-color: rgb(48, 219, 219);
}



.text {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: rgb(40, 101, 101);
  transition: 1s;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}

.texto {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;

  background-color: rgb(40, 101, 101);
  transition: 1s;
  border-radius: 10px;
  padding: 5px;
}